h1{
    font-size: 18pt;
    font-weight: bold;
    color: red;
}
p{color: green;}
a:link{
    text-decoration: underline;
    color: blue;
}
a:visited{
    text-decoration: underline;
    color: brown;
}
a:hover{
    text-decoration: none;
    font-weight: bold;
}
a:active{
    background-color: yellow;
}
#main >p{
    color: hotpink;
}
#main  div p:first-child{
    color: orangered;
}